@import "colores";
@import "fuentes";

h1 a{
    text-decoration: none;
    font-family: $fuente-slackey;
    color: map-get($map: $colores, $key: color-2);
}

h2{
    color: map-get($map: $colores, $key: color-2);
}

#logo{
    max-width: 8vh;
}