@import "colores";

@mixin generador-fondo($url){
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.card{
    background-color: #ffffffe6;
}

#main-index {
  @include generador-fondo("../images/bg_cobayo2.webp")
  }

  #main-quienes-somos {
    @include generador-fondo("../images/bg_sala.webp")
  }

  #main-nuestras-clinicas {
    background: radial-gradient(
      circle,
      map-get($map: $colores, $key: color-4) 0%,
      map-get($map: $colores, $key: color-5) 100%
    );
  }

  #main-salud-animal {
    @include generador-fondo("../images/bg_sala.webp")
  }

  #main-prensa {
    @include generador-fondo("../images/bg_cobayo.webp")
  }

  #main-unete {
    @include generador-fondo("../images/bg_cobayo.webp")
  }

 